NEXT_PUBLIC_SITE_ORIGIN=https://bzmagnet.com
ADMIN_SESSION_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=
INQUIRY_STORE_URL=
INQUIRY_STORE_TOKEN=
BZMAGNET_EMAIL_FROM=
BZMAGNET_EMAIL_TO=
BZMAGNET_PUBLIC_EMAIL=
BZMAGNET_PUBLIC_PHONE=
BZMAGNET_PUBLIC_ADDRESS=
RATE_LIMIT_STORE_URL=
RATE_LIMIT_STORE_TOKEN=
